body {
    padding: 0;
    margin: 0;
    background-color: black;
    color: bisque;
}

.moon_container {
    height: 70vh;
    position: relative;
}

.moon {
    position: absolute;
    height: 70vh;
    width: 70vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.moon img {
    position: absolute;
    height: 100%;
}

.moon .full {
    mask-size: cover;
    opacity: 0;
    transition: opacity 2s;
}